---
import "@styles/global.css";
import art from "@data/art.json";
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout title={"Art | Ezekiel Halley"}>
  <div class="w-full p-5">
    WIP
  </div>
</SiteLayout>
