---
import "@styles/global.css";
import art from "@data/art.json";
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout title={"Contact | Ezekiel Halley"}>
  <div class="w-full p-5">
    <div class="mx-auto w-3/5">
      <form
        data-netlify
        netlify-honeypot
        name="contact"
        method="POST"
        action="/success"
      >
        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>
        <input type="hidden" name="form-name" value="contact" />
        <label for="name">Name</label>
        <input id="name" type="text" name="name" />
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required />
        <label for="contact">Message</label>
        <textarea id="contact" wrap="soft" name="contact" required></textarea>
        <button class="bg-slate-700 text-white w-1/2" type="submit"
          >Submit</button
        >
      </form>
    </div>
  </div>
</SiteLayout>

<style>
  textarea,
  input {
    color: black;
  }

  input,
  textarea,
  button {
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
</style>
