---
import "@styles/global.css";
import art from "@data/art.json";
import SiteLayout from "@layouts/SiteLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<SiteLayout title={"Art | Ezekiel Halley"}>
  <div class="w-full h-screen p-20">
    <div class="container items-center">
      <div class="gap-6 pt-2 columns-3xs">
        {
          art
            .sort((image1, image2) => image1.year > image2.year ? -1 : 1)
            .map((image) => {
              return (
                <figure class="py-4 break-inside-avoid">
                  <img
                    class="rounded-md opacity-75 hover:opacity-100"
                    src={image.src}
                    alt={image.alt}
                    title={image.title}
                  />
                </figure>
              );
            })
        }
      </div>
    </div>
  </div>
</SiteLayout>
