---
import "@styles/global.css";
import art from "@data/art.json";
import SiteLayout from "@layouts/SiteLayout.astro";
import { Image, Picture } from "@astrojs/image/components";
---

<SiteLayout title={"Art | Ezekiel Halley"}>
  <div class="w-full p-5">
    <div class="container items-center">
      <div class="gap-6 pt-2 columns-3xs">
        {
          art
            .sort((image1, image2) => (image1.year > image2.year ? -1 : 1))
            .map((image) => {
              return (
                <a
                  href={`/art/${image.src
                    .replace(/^.*[\\\/]/, "")
                    .replace(/.[^.]*$/, "")}`}
                >
                  <figure class="p-3 m-3 transition hover:scale-105 break-inside-avoid hover:bg-black bg-primary">
                    <img
                      class="border opacity-75 border-accent hover:opacity-100"
                      src={`${image.src}`}
                      alt={image.alt}
                      title={image.title}
                    />
                  </figure>
                </a>
              );
            })
        }
      </div>
    </div>
  </div>
</SiteLayout>
