---
import "@styles/global.css";
import Layout from "../layouts/Layout.astro";
import Card from "@components/Card.astro";
import BreadCrumbs from "@components/BreadCrumbs";
import Crumb from "@components/BreadCrumbs/Crumb";
import Footer from "@components/Footer";
---

<main>
  <div class="p-3">

	<BreadCrumbs>
		<Crumb text="Home"/>
		<Crumb text="Blog"/>
	</BreadCrumbs>
	
	<div class="grid justify-center mt-32">
		
		<div class="flex flex-col">
			<div>PFP</div>
			<div>Name</div>
			<div>Sometimes I code. Sometimes I draw.</div>
		</div>

		<br>

		<div>
			Page Title
		</div>

		
		<hr>
		<br>

		<div class="flex flex-row gap-12">
			<!-- Sidebar -->
			<div class="">
				<div>Navigation</div>
				<nav>
					<ul>
						<li>Home</li>
						<li>Blog</li>
						<li>Projects</li>
						<li>Art</li>
						<li>About</li>
					</ul>
				</nav>
				<br>
				<div>External Links</div>
				<ul>
					<li>Github</li>
					<li>My Conventions</li>
				</ul>
			</div>

			<!-- Content -->
			<div class="max-w-3xl">
				Testawdadwadawdawdadawdawdawdawdawdawdawdawdawdw
				awdawdawdaw!awdawdsTestawdadwadawdawdadawdawdawdawdawdawdawdawdawdw
				awdawdawdaw!awdawds
			</div>
		</div>

		<Footer/>
	</div>

  </div>
</main>
