---
import SiteLayout from "@layouts/SiteLayout.astro";
import "@styles/global.css";

---

<main>
    <SiteLayout title={"Ezekiel Halley"}>
        <div class="bg-error w-full h-full  p-20">
            <div class="bg-primary h-full">Test1</div>
        </div>
    </SiteLayout>
</main>
