---
import SiteLayout from "@layouts/SiteLayout.astro";
import "@styles/global.css";
---

<SiteLayout title={"Ezekiel Halley"}>
  <div class="w-full h-full p-20">
    <div class="h-full">
      <h1 class="">Hey, I'm Ezekiel!</h1>
      <p>Welcome to my W.I.P. Portfolio website</p>
    </div>
  </div>
</SiteLayout>
