---
import SiteLayout from "@layouts/SiteLayout.astro";
import "@styles/global.css";
---

<SiteLayout title={"Ezekiel Halley"}>
  <div class="w-full h-full p-10">
    <div class="h-full">
      <h1 class="">Hey There!</h1>
      <p>
        Welcome to my personal website! I'm Ezekiel, also known as Pyxus. I'm a
        recent computer science graduate with an interest in digital art, game
        development, and software design. This website is my digital playground
        where I showcase my projects and creations. While the website is still a
        work in progress, I aim to provide a glimpse into my skills and
        experiences.
      </p>
      <p>
        I created this website not only to share my work but also to practice
        web development. Whether you are a potential employer or someone who shares my
        interests, I hope you find my website engaging and informative. Please
        feel free to explore my portfolio and get in touch with me if you have
        any questions or feedback. Thank you for visiting!
      </p>
    </div>
  </div>
</SiteLayout>
