---
import Layout from "../layouts/Layout.astro";
import Card from "@components/Card.astro";
import "@styles/global.css";
---

<main>
  <div class="p-3">

    <!-- Breadcrumb -->
    <div class="flex text-sm breadcrumbs">
      <ul>
        <li><a>Home</a></li>
        <li><a>Blog</a></li>
        <li><a>Greatest Post Off All Time</a></li>
      </ul>
    </div>
	
	<div class="grid justify-center  bg-red-600 mt-32">
		
		<div class="flex flex-col">
			<div>PFP</div>
			<div>Name</div>
		</div>

		<br>
		<hr>
		<br>

		<div class="flex flex-row gap-12">
			<!-- Sidebar -->
			<div class="bg-blue-500">
				<div>Navigation</div>
				<nav>
					<ul>
						<li>Home</li>
						<li>Blog</li>
						<li>Projects</li>
					</ul>
				</nav>
				<br>
				<div>External Links</div>
				<ul>
					<li>Github</li>
					<li>My Conventions</li>
				</ul>
			</div>

			<!-- Content -->
			<div class="bg-blue-500 max-w-3xl">
				Testawdadwadawdawdadawdawdawdawdawdawdawdawdawdw
				awdawdawdaw!awdawdsTestawdadwadawdawdadawdawdawdawdawdawdawdawdawdw
				awdawdawdaw!awdawds
			</div>
		</div>

		<br>
		<hr>
		Copyright 2022 Pyxus
		<br>
		<hr>
	</div>

  </div>
</main>
