---
import SiteLayout from "@layouts/SiteLayout.astro";
import "@styles/global.css";
---

<SiteLayout title={"Projects | Ezekiel Halley"}
  ><div class="p-10">
    This page is a work in progress but check out my <a class="text-highlight" href="https://github.com/Pyxus">Github</a>!
  </div>
</SiteLayout>
