---
import Profile from "@components/Profile";
import SideBar from "@components/SideBar";
import SideBarItem from "@components/SideBar/SideBarItem";
import SideBarSection from "@components/SideBar/SideBarSection";
import {FiGlobe} from "react-icons/fi/index.js"
import { RiCodeBoxFill } from "react-icons/ri/index.js";
import { HiChatBubbleBottomCenterText } from "react-icons/hi2/index.js";
import { MdWavingHand } from "react-icons/md/index.js";
import { getImage } from "@astrojs/image";
import pfpImage from "src/images/pfp-transparent.png";

const { src } = await getImage({
  src: pfpImage,
  alt: "",
  width: 718,
  height: 1045,
});
const { title } = Astro.props;
const currentPath = Astro.url.pathname.split("/")[1];
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <link as="image" rel="preload" href={src} />
  </head>
  <body>
    <div class="flex items-start justify-center h-screen pt-6 bg-secondary">
      <div class="m-2 text-white columns-1 font-jetbrains">
        <div class="border border-accent bg-primary">
          <div
            class="bg-highlight border mx-auto mt-8 w-36 h-[7.7rem] border-accent overflow-hidden"
          >
            <img
              class="mx-auto translate-y-1"
              width="100px"
              src={src}
              alt={"Cartoon drawing of Ezekiel"}
            />
          </div>
          <h1 class="m-2 text-lg font-bold text-center">Ezekiel Halley</h1>
          <p class="mb-4 ml-3 mr-3 text-xs font-thin text-center">
            Developer & Digital Artist
          </p>
        </div>
        <div class="border border-accent bg-primary">
          <div class="flex justify-center">
            <nav>
              <div class="justify-center m-4 columns-1">
                <RiCodeBoxFill className={"mx-auto"} size={32} />
                <div class="text-center">PROJECTS</div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="w-5/12 m-2 text-white border border-accent bg-primary">
        <div class="inline-flex p-2">
          <FiGlobe className={"my-auto mr-2"}/>
          <p class="">https://ezekiel.page</p>
        </div>
        <div class="mx-3 mb-3 border border-accent">
          Test
          Test
          Test
        </div>
      </div>
    </div>
  </body>
</html>
